name: Test tap-criteo

on:
  push:
    branches:
    - main
  pull_request:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

env:
  FORCE_COLOR: "1"

jobs:
  tests:
    runs-on: ubuntu-latest
    env:
      NOXSESSION: ${{ matrix.session }}-${{ matrix.python-version }}
    strategy:
      fail-fast: false
      max-parallel: 1
      matrix:
        include:
        - {python-version: "3.14", session: "tests"}
        - {python-version: "3.13", session: "tests"}
        - {python-version: "3.12", session: "tests"}
        - {python-version: "3.11", session: "tests"}
        - {python-version: "3.10", session: "tests"}

    steps:
    - name: Checkout code
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      with:
        fetch-depth: 0

    - uses: astral-sh/setup-uv@eac588ad8def6316056a12d4907a9d4d84ff7a3b # v7.3.0
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install Nox
      run: |
        uv tool install nox
        nox --version

    - name: Run Nox
      env:
        TAP_CRITEO_CLIENT_ID: ${{ secrets.TAP_CRITEO_CLIENT_ID }}
        TAP_CRITEO_CLIENT_SECRET: ${{ secrets.TAP_CRITEO_CLIENT_SECRET }}
        TAP_CRITEO_ADVERTISER_IDS: ${{ secrets.TAP_CRITEO_ADVERTISER_IDS }}
      run: |
        nox
